*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.displayOne{
    display: flex;
    background-color:#FFEEF1;
    padding: 25%;
}
.title{
    position: absolute;
    font-family: -webkit-body;
    font-size: xx-large;
    margin: -18%;
}
.singUp{
    position: absolute;
    border: 2px solid #FF87AB;
    background-color: #fab9ce54;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    height: 55%;
    margin: -9%;
    width: 21%;
    right: 21%;
    border-radius: 26px 26px;
    
    
}
.buttonF{
    background-color: #2f55a4;
    height: 6%;
    margin: 2%;
    width: 55%;
    border-radius: 8px 8px;
    cursor: pointer;
    border: 0;
    outline: none;
    
}
.buttonG{
    background-color: #db4a39;
    margin: 2%;
    height: 6%;
    width: 55%;
    border-radius: 8px 8px;
    cursor: pointer;
    border: 0;
    outline: none;
    
}
.singUp input{
    border: 0;
    background-color: #f8efeffc;
    margin: 2%;
    text-align: center;
    height: 6%;
    width: 55%;
    outline: none;
    border-radius: 8px 8px;
}
.bottonSingUp{
    margin: 2%;
    background: #e44078;
    height: 7%;
    width: 36%;
    font-size: larger;
    border-radius: 14px 14px;
    cursor: pointer;
    border: 0;
    outline: none;
}